body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 500px;
    margin: 20px auto;
}

.container .form {
    display: flex;
    border-radius: 6px;
    background-color: #eee;
    padding: 20px;
    align-items: center;
}

.container .form .input {
    flex: 1;
    border-radius: 6px;
    padding: 10px;
    border: 1px solid #ddd;
}

input {
    outline: none;
}

.container .form .add {
    padding: 10px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    color: white;
    background-color: #f44336;
}

.container .tasks {
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    background-color: #eee;
    padding: 20px;
    align-items: center;
    margin-top: 20px;
}

.tasks .task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px;
    border-radius: 6px;
    transition: .3s;
    cursor: pointer;
    border: 1px solid #ccc;
    width: 100%;
    margin: 0 0 5px;
}

.tasks .done {
    opacity: 0.5;
}

.tasks span {
    font-size: 15px;
    background-color: #f44336;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 5px;
}

.allTask {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}